.container {
  background-color: #EEEEEE;
  padding: 60px 32px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.heading {
  width: 100%;
  font-size: 40px;
  font-weight: 400;
}